<!--<% include _layouts/nav_bar%>
<div style= "margin-left:50px;"><h1>Welcome</h1></div>-->

<html>

<head>
    <title>Starter Friendly</title>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style-main.css" />
    <script type="text/javascript" src="script.js" defer></script>
</head>

<body>
    <div id="container">

        <div id="nav">
            <ul id="nav-items">
                <li><a href="#">Home</a></li>
                <li><a href="#Project-container">Projects</a></li>
                <li><a href="#about-us">About Us</a></li>
                <li><a href="#how-we-work">How we work</a></li>
                <li><a href="#">Reach Out</a></li>
            </ul>

            <ul id="register-button">
                <li>Log In</li>
                <li>Sign Up</li>
            </ul>

        </div>

        <div id="banner">




            <img class="banner-image" src="images/choco1 (2).jpg" />
            <div class="header">
                <h1>Starter Friendly</h1>
            </div>
            <div class="header2">
                <h3>Here at Starter Friendly we connect businesses with possible investors</h3>
            </div>
            <div class="header3">
                <h3>Helping your business grow</h3>
            </div>


        </div> 

        <div id="Project-container">
            <h2>Our Projects</h2>
            <div class="row">
                <div class="column pro-image">
                    <img src="images/chocolate.jpg" alt="homemade chocolate" />
                </div>
                <div class="column pro-details">
                    <h2>Guilty pleasures</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, autem rem
                        doloremque quo numquam eius accusantium eum quidem hic distinctio sint a voluptatum
                        unde ipsa consequatur dignissimos illo deserunt sequi.</p>
                    <button id="learn-more">Learn more..</button>
                </div>
            </div>
            <div class="row">
                <div class="column pro-image">
                    <img src="images/chocolate.jpg" alt="homemade chocolate" />
                </div>
                <div class="column pro-details">
                    <h2>Guilty pleasures</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, autem rem
                        doloremque quo numquam eius accusantium eum quidem hic distinctio sint a voluptatum
                        unde ipsa consequatur dignissimos illo deserunt sequi.</p>
                </div>
            </div>
            <div class="row">
                <div class="column pro-image">
                    <img src="images/chocolate.jpg" alt="homemade chocolate" />
                </div>
                <div class="column pro-details">
                    <h2>Guilty pleasures</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, autem rem
                        doloremque quo numquam eius accusantium eum quidem hic distinctio sint a voluptatum
                        unde ipsa consequatur dignissimos illo deserunt sequi.</p>
                </div>
            </div>
        </div>
        <div id="about-us">
            <h2>About us</h2>
            <h3>Vision</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, autem rem
                doloremque quo numquam eius accusantium eum quidem hic distinctio sint a voluptatum
                unde ipsa consequatur dignissimos illo deserunt sequi.</p>
            <h3>Mission</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, autem rem
                doloremque quo numquam eius accusantium eum quidem hic distinctio sint a voluptatum
                unde ipsa consequatur dignissimos illo deserunt sequi.</p>
        </div>
        <div id="how-we-work">
            <h2>How we work</h2>
        </div>
        <div id="contact-us">
            <h2>Want to enroll your project?</h2>
            <div>
                <h2>Contact Us</h2>
                <p>starterfriendlycf@gmail.com</p>
                <p>123456789/0987543</p>
                <p>Kathmandu,Nepal</p>
                <ul class="social-icons">
                    <li><a href="http://www.facebook.com"><img src='images/mycollection/svg/002-facebook.svg' /></a>
                    </li>
                    <li><a href="http://www.instagram.com"><img src='images/mycollection/svg/001-instagram.svg' /></a>
                    </li>
                    <li><a href="http://www.twitter.com"><img src='images/mycollection/svg/003-twitter.svg' /></a></li>
                </ul>
            </div>

        </div>
    </div>
</body>

</html>