<html>

<head>
    <title>MY PROJECT</title>
    <link rel="stylesheet" type="text/css" href="stylenew1.css" />

</head>

<body>
    <div id="container">

        <h1>Guilty Pleasures</h1>
        <div class="container-project">

            <div class="column image">
                <h1>image</h1>
            </div>
            <div class="column details">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit ducimus deleniti dicta magnam
                    consequatur? Delectus temporibus, cum iste distinctio saepe modi velit. Voluptatem ratione nobis
                    distinctio nostrum vel repellendus cumque?Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Fugit ducimus deleniti dicta magnam
                    consequatur? Delectus temporibus, cum iste distinctio saepe modi velit. Voluptatem ratione nobis
                    distinctio nostrum vel repellendus cumque?</p>
                <p>Like our idea? Willing to contribute?</p>
                <h3>Target Fund:</h3>

                <button>Donate NOW</button>
                <p>Help them grow.</p>

            </div>
        </div>
        <div class="lower-container">
            <div class="fulldetail">
                <h2>hoemmade choclate facoty</h2>
            </div>
            <div class="others">
                <h3>OTHER PROJECTS</h3>
                <div class="small-container">
                 <!--<img class="side-image" src="images/choco1 (2).jpg" alt="" />--> 
                
                 <img class="side-image" src="images/choco1 (2).jpg" alt="" />
                 <p>Hello</p>
                </div>

                <div class="small-container">

                </div>
                <div class="small-container">

                </div>
            </div>

        </div>

